* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
.link{
    text-align: left;
    font-size: small;
    text-decoration: none;
    color: blue;
}

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .message {
    font-size: 14px;
    color: #555;
  }
  
  .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .message a:hover {
    text-decoration: underline;
  }


  .notification {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 20px;
    width: 100%;
}
